<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ks.apphook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".HookReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ks.apphook.hookreceiver" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".HookContentProvider"
            android:authorities="com.ks.apphook"
            android:exported="true"
            android:process=":core" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" /> <!-- 模块描述 -->
        <meta-data
            android:name="xposeddescription"
            android:value="App分析助手" /> <!-- 最低版本号 -->
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>

</manifest>